body {
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh; /* ขยายแผนที่ให้เต็มจอ */
    width: 100%;
}

.container {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}